*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color:#FFE475;
    color: white;
    position: fixed;
    width: 100%;
    /* margin-bottom: 3rem; */
    z-index: 1;
    padding: 0.5rem;
    box-sizing: border-box;
}
.right{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    margin-right:20px;
     flex-wrap:wrap ;
}
.home{
    margin-right: 30px;
    flex-wrap:wrap ;

}
i{
    color:black;
    /* padding: 2rem; */
    /* height: 2rem; */
    /* width: 2rem; */
    font-size: 1.5rem;
}
.span{
    color: black;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.mainHeading{
    color: black;
margin-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}